@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?k9s80o');
	src:url('fonts/icomoon.eot?#iefixk9s80o') format('embedded-opentype'),
		url('fonts/icomoon.woff?k9s80o') format('woff'),
		url('fonts/icomoon.ttf?k9s80o') format('truetype'),
		url('fonts/icomoon.svg?k9s80o#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}


[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
    vertical-align: middle;
    position: relative;
    display: inline-block;
    top: 0px;
    margin-right: 0px;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-cog:before {
	content: "\e600";
}
.icon-cog2:before {
	content: "\e601";
}
.icon-close:before {
	content: "\e602";
}
.icon-checkmark:before {
	content: "\e603";
}
.icon-checkmark2:before {
	content: "\e604";
}
.icon-share:before {
	content: "\e60d";
}
.icon-mail:before {
	content: "\e60e";
}
.icon-mail2:before {
	content: "\e60f";
}
.icon-googleplus:before {
	content: "\e605";
}
.icon-googleplus2:before {
	content: "\e606";
}
.icon-facebook:before {
	content: "\e607";
}
.icon-facebook2:before {
	content: "\e608";
}
.icon-twitter:before {
	content: "\e609";
}
.icon-twitter2:before {
	content: "\e60a";
}
.icon-reddit:before {
	content: "\e60b";
}
.icon-pinterest:before {
	content: "\e60c";
}
body{margin:0;padding:0;width:200px;background: none repeat scroll 0 0 #F7D358;font-size:14px;font-family: Segoe UI, Arial, sans-serif;background-image: url("bg-honeycomb.png");}
header {height: 45px;border-bottom: 1px dashed #000;}
.heading{font-size: 20px;font-weight: bolder;padding: 10px 20px;}
.heading img{height:25px;padding-right:10px;}
.heading label{padding-bottom:2px;}
#options {cursor: pointer;padding: 10px 35px;border-top: 1px dashed #000;}
footer {padding: 0;}
.page-container {max-width:200px; padding:10px; width:auto;min-width:200px;overflow:auto;padding-left:32px;}
.enabled,.icon-checkmark2,.icon-checkmark{color:green;}
.disabled,.icon-close {color:red;}
.icon-checkmark2,.icon-checkmark, .icon-close, .icon-cog,.icon-cog2,.icon-cogs,.icon-pencil2{padding-right:10px; font-size:13px;padding-bottom: 4px;}
.enabled,.disabled{cursor: pointer;}
.settings{}
.hide{display:none;}
.loader{padding: 0px 25px;}
.notification{font-size:12px; bottom: 1px solid #000;padding: 5px 35px;background: none repeat scroll 0 0 #FFFACD;}
.share-box  span[class^="icon-"]{line-height: 25px;font-size: 25px;padding: 5px 14px;}
.icon-facebook2{color:#3B5998}
.icon-twitter2{color:#00aced}
.icon-googleplus2{color:#dd4b39}
.share-box .notification{background-color: #32506d;color: #fff;font-weight: bolder;padding: 5px 30px;}
.share-box{background-color:#fff;}
.share-box .buttons{padding:0 15px;}